.container{
    width: 700px;
    height: auto;
    padding: 10px;
    background: rgb(213, 248, 248);
    box-shadow: 10px 12px 20px;
    margin: auto;
}
h1{
    text-align: center;
    color: blueviolet;
    padding: 10px;
}

input{
    width: 600px;
    margin-left: 20px;
}
.btn{
    width: 610px;
    background-color: blueviolet;
    margin-left: 20px;
}
table{
    width:100%;

}
table,th,td{
    padding: 10px;
    border-collapse: collapse;
    border: 1px solid black;
    color: crimson;
    text-align: center;
}